@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --nav-blue: rgb(69, 144, 207);
  --main-gray: rgb(227, 232, 239);
  --card-orange: rgb(231, 182, 74);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, system-ui;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h2 {
  font-size: large;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 120px auto;
}

nav {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: var(--nav-blue);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

nav a {
  text-decoration: none;
}

nav li {
  list-style: none;
}

.nav-group {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.nav-item .icon {
  display: inline;
  height: 2rem;
  padding: 0.25rem;
  filter: invert(100%);
}

.logo .icon {
  padding: 0;
}

.nav-text {
  color: white;
  font-weight: bold;
}

.icon-and-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header {
  background-color: white;
}

main {
  background-color: var(--main-gray);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

main > * {
  gap: 16px;
  padding: 16px;
}

.projects {
  grid-row: 1 / -1;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.card {
  background-color: white;
  border-radius: 8px;
  border-left: 8px solid var(--card-orange);
  padding: 16px;
}

.icon-group {
  display: flex;
}
